h1 {
  font-family: 'Raleway', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #225277;
}

h1:after, h1:before {
  content: '';
  width: 75px;
  height: 2px;
  background: #225277;
  margin: 0 10px;
}
p {
  font-family: 'Raleway', sans-serif;
}
ul {
  padding: 0;
  margin: 0;
}
#navbar-text {
  color: rgb(255,255,255);
  font-size: 16px;
}
.navbar-wagon {
  padding: 20px 0px;
  position: absolute;
  top: 0px;
  text-align: center;
  background: transparent;
  width: 100vw;
  box-shadow: none;
  -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}
.navbar-flex {
  display: flex;
  flex-direction: column;
  width: 100vw;
  text-align: center;
}
/* Right section */
.navbar-wagon-right {
  text-align: center;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: rgb(255,255,255);
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.navbar-wagon.scrolled {
    background: rgb(68, 68, 68); /* IE */
    background: rgba(0, 0, 0, 0.78); /* NON-IE */
}
.top {
  height: 1px;
  width: 30%;
  align-items: center;
  color: rgb(255,255,255);
  background-color: rgb(255,255,255);
  border: none;
  opacity: 0.6;
}
.banner {
  color: rgb(255,255,255);
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center bottom;
}
.banner h2 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: rgb(255,255,255);
  margin-bottom: 25px;
}
.banner p {
  font-size: 25px;
  margin-bottom: 30px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: rgb(255,255,255);
}
#line-height {
  line-height: 200%;
}
#banner-title {
  margin-top: 100px;
  line-height: 20px;
}
.normal-weight {
  font-weight: normal;
}
#white-font {
  color: #FFFFFF;
}
.contact-info-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.about-title {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
}
#avatar {
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.2);
}
.work-individual {
  margin-bottom: 15px;
  margin-top: 15px;
}
.voyagr {
  color: #225277;
  font-weight: bold;
  &:hover {
    color: #102f47;
    text-decoration: none;
  }
}
.work-image-center {
  align-items: center;
}
.links {
  color: #225277;
  margin: 10px 50px;
  font-size: 25px;
  &:hover {
    color: #102f47;
    text-decoration: none;
  }
}

@media only screen and (max-width: 600px) {
  .top {
    width: 80%;
  }
  #avatar {
    display: hidden;
  }
  h1:after, h1:before {
    width: 10px;
  }
  .navbar-wagon-item {
    cursor: pointer;
    padding: 0 5px;
  }
  #resume {
    width: 270px;
    height: 382px;
  }
}
